# Equilibration for {{ name }}
# Generated: seed={{ seed }}, Q={{ Q }}, N_chains={{ N_chains }}

units           real
dimension       3
boundary        p p f
atom_style      full
comm_style      brick
newton          off

bond_style      class2
angle_style     class2
dihedral_style  class2
improper_style  class2

pair_style      lj/class2/coul/long 12.0
special_bonds   lj/coul 0.0 0.0 1.0
pair_modify mix sixthpower

kspace_style    pppm 1.0e-4
kspace_modify   slab 3.0

neighbor        2.0 bin
neigh_modify every 1 delay 0 check yes one 10000 page 1000000

read_data       Silico_system.data &
                {{ extra }} &
                extra/angle/per/atom 45 &
                extra/dihedral/per/atom 50 &
                extra/improper/per/atom 30

read_data       Polymer_{{ name }}.data add append shift 0.0 0.0 65.0 offset 8 4 6 4 3

molecule        water_mol water.mol

region          poly_zone  block INF INF INF INF 25 105 units box
region          water_zone block INF INF INF INF 105 155 units box

create_atoms    7 random {{ N_Na_poly  }} {{ seed }} poly_zone   # Na+
create_atoms    7 random {{ N_Na_bath  }} {{ seed }} water_zone  # Na+
create_atoms    8 random {{ N_Cl_poly  }} {{ seed + 1 }} poly_zone   # Cl-
create_atoms    8 random {{ N_Cl_bath  }} {{ seed + 1 }} water_zone  # Cl-

create_atoms 0 random {{ N_water_poly }} {{ seed + 2 }} poly_zone  mol water_mol {{ seed + 3 }} overlap 1.33
create_atoms 0 random {{ N_water_bath }} {{ seed + 2 }} water_zone mol water_mol {{ seed + 3 }} overlap 1.33

group solvent type 5 6 7 8
group ions    type 7 8
group water   type 5 6
set type 7 charge 1.0
set type 8 charge -1.0

write_data      system_check_{{ name }}.data

region          lower block INF INF INF INF -2 10 units box
group           lower region lower
fix             FREEZE lower setforce 0.0 0.0 0.0
velocity        lower set 0.0 0.0 0.0
group           mobile subtract all lower
group           substrate_atoms subtract mobile solvent
group           excluded_types type 1 2 3 4 5 6 7 8
group           polymer subtract all excluded_types
region          pull_zone block INF INF INF INF 65.0 165.0 units box
group           atoms_in_zone region pull_zone
group           pull_layer intersect polymer atoms_in_zone

dump            1 all custom 40000 trajectory_stabilization_{{ name }}.lammpstrj.gz id type xu yu zu

thermo          150
thermo_style    custom step temp ebond eangle edihed eimp pe press

fix WALL_TOP solvent wall/harmonic zhi 157.0 10.0 0.0 2.0

min_modify dmax 0.1
min_style cg/kk
minimize 1.0e-4 1.0e-5 5000 50000
min_style cg/kk
minimize 1.0e-8 1.0e-10 20000 200000
set group mobile image 0 0 0

timestep        0.1
fix             1 mobile nve/limit 0.05
fix             2 mobile viscous 50.0
fix             3 all dt/reset 1 NULL 0.001 0.1
thermo          1000
run             10000
unfix           1
unfix           2
unfix           3

velocity        mobile zero linear
velocity        mobile zero angular
velocity        mobile create 10 {{ seed }} mom yes rot yes dist gaussian

timestep        0.1
fix             rNVT mobile nvt temp 10.0 10.0 50.0
thermo          500
run             10000
timestep        0.25
run             10000
timestep        0.5
run             10000

fix PRESS pull_layer spring tether 15 NULL NULL 0 40
timestep        0.5
run             30000
unfix           PRESS
run             20000
unfix           rNVT

fix             tNVT mobile nvt temp 10.0 300.0 200.0
timestep        0.5
thermo          1000
run             500000
unfix           tNVT

fix             fNVT mobile nvt temp 300.0 300.0 100.0
timestep        0.5
thermo          1000
run             1500000

undump          1

write_data      system_equilibrated_{{ name }}.data
write_restart   system_equilibrated_{{ name }}.restart


# -------- SMD loop --------
variable v index {% for v in SMD_velocities %}{{ v }} {% endfor %}
variable i loop {{ SMD_velocities|length }}
label smd_loop
  include in.smd
  next v
  next i
  jump in.equil smd_loop